---
console.log('Hello from index.astro');

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Andreas Josef</title>
	</head>
	<body>
		<h1>Hello World!</h1>
		<a href="/studio/">My Work</a>
		<a href="/notes/">My Thoughts</a>
	</body>
</html>
