---

---

<div class="mb-12 opacity-40 hover:opacity-80 transition-opacity duration-500">
    <div
        class="w-16 h-16
        border border-foreground/50 rounded-xs
        flex flex-col items-center justify-center p-1"
    >
        <div
            class="w-full h-full
      border border-foreground/30 rounded-[1px]
      flex items-center justify-center"
        >
            <span
                class="font-serif italic text-xl font-medium text-foreground pt-1 tracking-tighter"
            >
                AS
            </span>
        </div>
    </div>
</div>
